

header {
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid #e0e0e0;
    background-color: #f7f7f7;
}

.bg-1 {
    background-color: #0033c6;
    height: 8px;

}

.bg-2 {
    background-color: #e71a3b;
    height: 4px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon i {
    font-size: 20px;
    color: #0055aa;
}

.logo {
    font-size: 20px;
}

.logo .blue {
    color: #0055aa;
    font-weight: 900;
}

.logo .red {
    color: #d40026;
    font-weight: 500;
}

.icons i {
    font-size: 22px;
    margin-left: 15px;
    color: #0055aa;
}

.search-bar {
    display: flex;
    margin-top: 10px;
    padding: 0 10px;
}

.search-bar input {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 0 15px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button i {
    color: #0055aa;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 12px;
}

.location i {
    color: #0055aa;
    margin-right: 5px;
}

.location span {
    color: #666;
}

.breadcrumb-container {
    overflow: hidden;
    margin-top: 10px;
    font-size: 12px;
}

.breadcrumb {

    background-color: white;
    border-radius: 0.5rem;
}

.breadcrumb ol {
    padding-left: 10px;
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb a {
    text-decoration: none;
    color: #3b82f6;
    width: max-content;
    color: #666;
}

.breadcrumb a.active {
    font-weight: bold;
}

.breadcrumb span {
    margin: 0 0.55rem;
    color: #000000;
}

.info-container {
    margin: 2vh 0 0 10px;
    font-weight: 700;
    display: flex;
    font-size: 8px;
    gap: 2vw;
}

.info-container .discount-box {
    background-color: #0061b0;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

}

.info-container .discount-box .text-discount {
    font-size: 10px;
    font-weight: 700;
    
}

.info-container .freight-box {
    background-color: #ffb600;
    border-radius: 4px;
    width: 32%;
    color: #583d00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.info-container .freight-box .text-freight {
    font-size: 11px;
    font-weight: 700;
    text-shadow: 0px 0px 1px #583d00;
}

.main-container {
    margin: 0vh 0 0 0;
    padding: 10px;

}


.main-container .description-box {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}

.description-box h3 {
    color: #595959;
    font-weight: 500;
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 0.5vh;
}

.description-box .code-item-box {
    color: #696b69;
    font-size: 12px;
    font-weight: 100;
}

.description-box .code-item-box a {
    font-weight: 600;
    letter-spacing: 0.6px;
}


.slider-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.main-image {
    background-color: #595959;
    margin-bottom: 2vh;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease;
    user-select: none;
    pointer-events: none;
}

.thumbnails {
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
    width: 100%;
}

.thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s;
    flex-shrink: 0;
}

.thumbnail.active {
    border-color: #007bff;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.container {
    width: 100%;
    /* max-width: 400px; */
    color: #59687cda;
}

.product-features {
    border-radius: 10px ;
    padding: 16 16px 10px 16px;
    background-color: #f7f7f7;
}

.product-features .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.product-features h2 {
    
    font-size: 15px;
    margin: 0;
}

.product-features a {
    color: #1d4ed8;
    text-decoration: none;
}

.features-list p {
    padding-bottom: 8px;
    margin: 10px 0;
    border-bottom: 1px solid #59687c50;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 11px;
    color: #59687cc5;
}

.features-list .last-list {
    border: none;
}

.features-list p strong {
    font-size: 14px;
    color: #59687c;
}

.pricing {
    margin-top: 16px;
    /* background-color: #fff; */
}

.old-price-box {
    display: flex;
    gap: 2vw;
}

.old-price-box .old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
}

.old-price-box .down{
    background-color: #2c5c0a;
    color: #fff;
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
}

.current-price {
    color: #1d4ed8;
    font-size: 24px;
    font-weight: bold;
}

.discount {
    color: #16a34a;
}

.payment-options {
    display: block;
    color: #1d4ed8;
    margin-top: 8px;
    text-decoration: none;
}

.buy-button {
    width: 100%;
    background-color: #1e730d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 18px;
}

.buy-button:hover {
    background-color: #17580a;
}

.enterprise-box {
    /* border: solid 1px pink; */
    display: flex;
    margin: 1.5vh 0 2vh 0;
    align-items: center;
    justify-content: center;
}

.enterprise-box .svg {
    width: 7vw;
}

.enterprise-box .enterprise-link {
    font-weight: 600;
    text-decoration: none;
    border-bottom: solid 1px;
    padding-bottom: 2px;
}

.cep-info-box {
    background-color:#e9f4ff ;
    padding: 10px 10px 40px 10px;
    border-radius: 8px;
}



.cep-info-box .rotule {
    color: #0054cf;
    font-weight: bold;


}

.cep-info-box .form-cep {
    display: flex;
    margin-top: 2vh;
}

.cep-info-box .form-cep .input-cep {
    padding: 10px;
    width: 80%;
    border: 1px solid #dededf;
    border-right: none;
    transition: 0.3s ease-in-out;
}


.cep-info-box .form-cep .cep-button {
    
    width: 15%;
    font-size: 17px;
    padding: 8px;
    border: 1px solid #dededf;
    border-left: none;
    background-color: #faf6f6;
    transition: 0.3s ease-in-out;
}

.cep-info-box .form-cep .input-cep:focus,
.cep-info-box .form-cep .input-cep:focus + .cep-button {
    border-color: #000000;
    outline: none; 
}

.products-container {
    margin: 7vh 0 3vh 10px;

}

.products-container2 {
    margin: 3vh 0 3vh 10px;

}

.products-container h3 {
    color: #0033c6;
    padding-left: 10px;
}

.products-container2 .text-slider2 {
    margin-bottom: 2vh;
    color: #0033c6;
}



.products-container .small-text {
    color: #59687c;
    font-size: 14px;
    margin: .6vh  0 6vh 10px ;
    
}

.customer-reviews-container {
    border: 1px solid blueviolet;
    color: #0033c6;
    margin: 6vh 0 6vh 0;
    padding: 10px;
    height: 250px;
}

@media (min-width: 768px) {
    .header-container {
        padding: 0 20px;
    }

    .search-bar {
        max-width: 500px;
        margin: 0 auto;
    }

    .location {
        justify-content: center;
    }
}